@import '../../index.scss';
.Register_container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.1fr 0.05fr 0.05fr 0.05fr 0.05fr auto;
    grid-template-areas: "div1" "title" "label1" "label2" "label3" "container_button" "div2";
    grid-gap: 0.1rem;
    background-color: $bg_color;
    justify-content: center;
    #div1 {
        grid-area: div1;
    }
    &__title {
        grid-area: title;
        text-align: center;
        padding-bottom: 2rem;
        color: #F9F9F9;
    }
    #label1 {
        grid-area: label1;
        text-align: center;
        padding-bottom: 1rem;
    }
    #label2 {
        grid-area: label2;
        text-align: center;
    }
    #label3 {
        grid-area: label3;
        text-align: center;
    }
    #div2 {
        grid-area: div2;
    }
    input {
        height: 29.34px;
        width: 201.3px;
        border-radius: 2.7px;
        padding-left: 5.33px;
        background-color: #FBFBFB;
        color: #66727C;
        font-size: 12px;
        font-weight: 300;
        border: none;
    }
    .Register_container_button {
        grid-area: container_button;
        text-align: center;
        padding: 1rem;
        button {
            width: 156px;
            height: 26.7px;
            background-color: #5ED699;
            border-radius: 13.33px;
            color: #141033;
            font-size: 12px;
            font-weight: bolder;
            border: none;
        }
    }
    #error {
        grid-area: div2;
        color: red;
        text-align: center;
        margin-top: 10px;
    }
}