        .box {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: none;
            border-radius: 10px;
            background-color: white;
            margin: 26px;
            padding: 25px;
        }
        
        .box--navbar {
            width: 100%;
            background-color: yellow;
            border-radius: 8px;
            text-align: center;
            &__text {
                padding: 10px;
                font-size: 18px;
                font-weight: bold;
            }
        }
        
        .box--ticket {
            display: flex;
            flex-direction: column;
            padding: 10px;
            margin: 10px;
            &__text {
                font-weight: bold;
                padding: 10px;
            }
            &__number {
                padding: 6px;
                margin: 10px;
            }
            &__log {
                padding: 10px;
                color: rgba(128, 128, 128, 0.637);
                font-size: 12px;
            }
            &__price {
                padding: 10px;
            }
        }
        
        .line {
            height: 1px;
            border: 0;
            background-color: gray;
            margin-bottom: 8px;
        }
        
        .box--dates {
            display: flex;
            justify-content: center;
            flex-direction: column;
            &__title {
                padding: 10px;
            }
            &__date {
                border: 0;
                line-height: 30px;
                margin: 14px;
                border: 1px solid #eee;
                background-color: rgba(219, 219, 219, 0.295);
                font-size: 12px;
            }
        }
        
        .pay {
            display: inline-block;
            padding: 10px;
            margin: 42px;
            border-radius: 18px;
            text-decoration: none;
            font-weight: bold;
            color: black;
            background-color: yellow;
            text-align: center;
            border: none;
            outline: none;
            line-height: 25px;
        }