.options {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #08082f;
    color: white;
    //border: 2px solid black;
}

.options--text {
    padding-left: 10px;
    padding-bottom: 2px;
    margin: 0;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.links {
    text-decoration: none;
    width: auto;
}

.options--text:last-child {
    margin-top: 10px;
}

.options--btn {
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    padding: 9px 15px;
    margin: 9px 9px;
    background-color: rgb(199, 199, 199);
    text-align: left;
    &.rounded {
        & .text {
            color: black;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

.options--image {
    width: 12px;
}

.space {
    padding: 30px
}