.special--buttoms {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(8, 8, 47);
    //border: 2px solid black;
}

.btn {
    margin: 20px auto;
    border: none;
    padding: 10px 44px;
    font-size: 10px;
    position: relative;
    &::before {
        transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        content: '';
        width: 50%;
        height: 100%;
        background: black;
        position: absolute;
        top: 0;
        outline: none;
        left: 0;
    }
    //rounded btn styles
    &.rounded {
        border-radius: 50px;
        outline: none;
        & .text-green {
            color: white;
            font-size: 14px;
            mix-blend-mode: difference;
            font-weight: bold;
            outline: none
        }
        &::before {
            border-radius: 50px;
            width: 25%;
            background: rgb(1, 145, 142);
            outline: none
        }
        &:hover {
            &::before {
                background: rgb(1, 145, 142);
                width: 100%;
                outline: none
            }
        }
    }
}