.notyet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: #000;
    overflow: hidden;
}

.label1 {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 0px 0px 3px #fff, 0px 0px 0px 10px #000, 0px 0px 0px 12px #444;
    user-select: none;
    bakcground: #fff;
    padding: 48px;
}

.label-top {
    width: 100%;
    height: var(--sides-height);
    padding-left: 18px;
    line-height: var(--sides-height);
    background: #000;
    text-align: center;
    font-size: 15px;
}

.label-top-text {
    color: #fff;
    font-size: 15px;
    letter-spacing: 20px;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
    white-space: nowrap;
}

.label-middle {
    font-size: 15px;
    width: 100%;
    height: var(--middle-height);
    padding-top: 2px;
    padding-left: 2px;
    line-height: var(--middle-height);
    background: #fff;
    text-align: center;
}

.label-middle-text {
    font-size: 60px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    transform: scaleY(1.4);
    white-space: nowrap;
}

.label-bottom {
    position: relative;
    width: 100%;
    height: var(--sides-height);
    line-height: var(--sides-height);
    background: #000;
    text-align: center;
}

.label-bottom-text {
    color: #fff;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
    white-space: nowrap;
    text-align: center;
    transform: scaleX(0.8) scaleY(1.4);
    padding-top: 10px;
}

.s1mpson {
    --background-color: #fff;
    --icon-color: #111;
}

.warning {
    padding: 50px;
    color: white;
    text-align: center;
}