.header {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: yellow;
    padding: 10px;
    padding-top: 28px;
    font-weight: bold;
    &__left {
        padding-top: 0;
    }
    &__center {
        width: 90%;
    }
}