@import "../../index.scss";
.wrapperLoading {
    padding-top: 200px;
    height: 100vh;
    background: $bg_initialApp;
    background-size: 400% 400%;
    animation: $initialLotieAnimation;
    position: relative;
    &__lottie {
        top: 50%;
    }
    &__text {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 56px;
        letter-spacing: 4px;
        display: flex;
        text-transform: uppercase;
    }
    &__img {
        width: 380px;
        height: 210px;
        padding-left: 22px;
    }
}

.e {
    padding-left: 42px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}