.sincronice {
    height: 88vh;
    width: auto;
}

.title {
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.streaming {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.streaming>div {
    width: 50%;
    background-color: #08082f;
}

.space {
    padding: 10px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.streaming-music {
    display: flex;
    width: 140px;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: white;
    margin: 8px;
    &__image {
        display: flex;
        width: 100%;
    }
}