.ticket {
    height: 100vh;
    width: auto;
    padding-bottom: 40px;
    background-color: #08082f;
}

.ticket--card {
    padding: 28px;
    padding-left: 46px;
    &__image {
        position: relative;
        width: 296px;
        height: 239px;
    }
    &__date {
        display: flex;
        justify-content: flex-end;
        color: black;
        border: solid yellow;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.452);
        padding: 4px;
        width: 80px;
        position: absolute;
        top: 267px;
        right: 120px;
        left: 242px;
    }
}

.ticket--info {
    padding-left: 52px;
    &__artist {
        color: yellow;
        padding-bottom: 2px;
    }
    &__room {
        text-transform: uppercase;
        color: white;
        padding-bottom: 8px;
    }
    &__location {
        color: white;
    }
}

.ticket--map {
    padding-left: 36px;
    padding-top: 10px;
    color: white;
}

.ticket--buy {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 25px;
    padding: 10px;
    &__price {
        font-size: 25px;
        color: white;
        padding: 10px;
    }
    &__button {
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        border-radius: 18px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        background-color: yellow;
        text-align: center;
        border: none;
        outline: none;
        line-height: 25px;
    }
}

@media (max-width: 400px) {
    .ticket {
        height: 197vh;
        background-color: #08082f;
    }
}