.slider__img {
    display: inline-block;
    margin-right: 10px;
}

.image {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    transition: transform 1s;
}

.image:hover {
    transform: scale(1.30);
}

.slider img {
    width: 100px;
    height: 100px;
}