.concert-list {
    background-color: #08082f;
    color: white;
    height: auto;
    width: auto;
    padding-bottom: 80px;
}

.concerts__ul__li{
    list-style: none;
    &__date{
        margin-left: 2vh;
    }
}

.concerts {
    display: grid;
    grid-template: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 50% 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-areas: "container__img container__room container__room" "container__img container__artist container__buy" "container__img container__gender container__price";
    &__img {
        grid-area: container__img;
        width: 20vh;
        margin-left: 2vh;
    }
    &__room {
        grid-area: container__room;
        // position: relative;
        text-justify: left;
    }
    &__artist {
        grid-area: container__artist;
        margin-top: 1.5vh;
        color: yellow;
    }
    &__gender {
        grid-area: container__gender;
    }
    &__price {
        grid-area: container__price;
        margin-left: 20%;
    }
    &__buy {
        grid-area: container__buy;
        align-items: center;
        padding: 10px 10px 10px 10px;
        border-radius: 25px;
        border: 2px solid yellow;
        background-color: rgb(3, 3, 46);
        color: white;
    }
}

hr{
    border: 1px solid #36C494;
    margin: 10px 10px;
}
